<a href="https://colab.research.google.com/github/haneesha-thasni/bike-sharing-dataset-analysis/blob/main/bike_sharing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ** BIKE SHARING DATASET DATA ANALYSIS**

**A SHORT DESCRIPTION OF THE FEATURES.**

datetime - hourly date + timestamp

season - 1 = spring, 2 = summer, 3 = fall, 4 = winter

holiday - whether the day is considered a holiday

workingday - whether the day is neither a weekend nor holiday

weather -

1: Clear, Few clouds, Partly cloudy, Partly cloudy

2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist

3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds

4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog

temp - temperature in Celsius

atemp - "feels like" temperature in Celsius

humidity - relative humidity

windspeed - wind speed

casual - number of non-registered user rentals initiated

registered - number of registered user rentals initiated

count - number of total rentals

In [2]:
import pandas as pd
import numpy as np

In [3]:
path="/content/bike_sharing.csv"

In [4]:
df=pd.read_csv(path)

In [5]:
df

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [ ]:
df.head(10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,0,2
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,2,3
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,7,8
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,6,14

In [ ]:
df.tail(15)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
10871,2012-12-19 09:00:00,4,0,1,1,11.48,14.395,75,7.0015,8,309,317
10872,2012-12-19 10:00:00,4,0,1,1,13.12,16.665,70,7.0015,17,147,164
10873,2012-12-19 11:00:00,4,0,1,1,16.40,20.455,54,15.0013,31,169,200
10874,2012-12-19 12:00:00,4,0,1,1,16.40,20.455,54,19.0012,33,203,236
10875,2012-12-19 13:00:00,4,0,1,1,17.22,21.210,50,12.9980,30,183,213
10876,2012-12-19 14:00:00,4,0,1,1,17.22,21.210,50,12.9980,33,185,218
10877,2012-12-19 15:00:00,4,0,1,1,17.22,21.210,50,19.0012,28,209,237
10878,2012-12-19 16:00:00,4,0,1,1,17.22,21.210,50,23.9994,37,297,334
10879,2012-12-19 17:00:00,4,0,1,1,16.40,20.455,50,26.0027,26,536,562
10880,2012-12-19 18:00:00,4,0,1,1,15.58,19.695,50,23.9994,23,546,569
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [ ]:
df.shape

(10886, 12)

In [6]:
df.index

RangeIndex(start=0, stop=10886, step=1)

In [ ]:
df.size

130632

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [ ]:
df.isnull().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
season,10886.0,2.506614,1.116174,1.00,2.0000,3.000,4.0000,4.0000
holiday,10886.0,0.028569,0.166599,0.00,0.0000,0.000,0.0000,1.0000
workingday,10886.0,0.680875,0.466159,0.00,0.0000,1.000,1.0000,1.0000
weather,10886.0,1.418427,0.633839,1.00,1.0000,1.000,2.0000,4.0000
temp,10886.0,20.230860,7.791590,0.82,13.9400,20.500,26.2400,41.0000
atemp,10886.0,23.655084,8.474601,0.76,16.6650,24.240,31.0600,45.4550
humidity,10886.0,61.886460,19.245033,0.00,47.0000,62.000,77.0000,100.0000
windspeed,10886.0,12.799395,8.164537,0.00,7.0015,12.998,16.9979,56.9969
casual,10886.0,36.021955,49.960477,0.00,4.0000,17.000,49.0000,367.0000
registered,10886.0,155.552177,151.039033,0.00,36.0000,118.000,222.0000,886.0000
count,10886.0,191.574132,181.144454,1.00,42.0000,145.000,284.0000,977.0000

In [ ]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
datetime,10886,10886,2011-01-01 00:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
season,10886.0,NaN,NaN,NaN,2.506614,1.116174,1.0,2.0,3.0,4.0,4.0
holiday,10886.0,NaN,NaN,NaN,0.028569,0.166599,0.0,0.0,0.0,0.0,1.0
workingday,10886.0,NaN,NaN,NaN,0.680875,0.466159,0.0,0.0,1.0,1.0,1.0
weather,10886.0,NaN,NaN,NaN,1.418427,0.633839,1.0,1.0,1.0,2.0,4.0
temp,10886.0,NaN,NaN,NaN,20.23086,7.79159,0.82,13.94,20.5,26.24,41.0
atemp,10886.0,NaN,NaN,NaN,23.655084,8.474601,0.76,16.665,24.24,31.06,45.455
humidity,10886.0,NaN,NaN,NaN,61.88646,19.245033,0.0,47.0,62.0,77.0,100.0
windspeed,10886.0,NaN,NaN,NaN,12.799395,8.164537,0.0,7.0015,12.998,16.9979,56.9969
casual,10886.0,NaN,NaN,NaN,36.021955,49.960477,0.0,4.0,17.0,49.0,367.0
registered,10886.0,NaN,NaN,NaN,155.552177,151.039033,0.0,36.0,118.0,222.0,886.0
count,10886.0,NaN,NaN,NaN,191.574132,181.144454,1.0,42.0,145.0,284.0,977.0

In [ ]:
df.dtypes

datetime       object
season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
casual          int64
registered      int64
count           int64
dtype: object

In [ ]:
df.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count'],
      dtype='object')

In [ ]:
df.nunique()

datetime      10886
season            4
holiday           2
workingday        2
weather           4
temp             49
atemp            60
humidity         89
windspeed        28
casual          309
registered      731
count           822
dtype: int64

In [7]:
df.columns.unique()

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count'],
      dtype='object')

In [8]:
df['windspeed'].unique()

array([ 0.    ,  6.0032, 16.9979, 19.0012, 19.9995, 12.998 , 15.0013,
        8.9981, 11.0014, 22.0028, 30.0026, 23.9994, 27.9993, 26.0027,
        7.0015, 32.9975, 36.9974, 31.0009, 35.0008, 39.0007, 43.9989,
       40.9973, 51.9987, 46.0022, 50.0021, 43.0006, 56.9969, 47.9988])

In [9]:
df['season'].unique()

array([1, 2, 3, 4])

In [ ]:
df.duplicated().sum()

0

In [ ]:
# 1) Filtering for Summer Days (season = 2) and Clear Weather (weather = 1)
df[(df['season']==2)&(df['weather']==1)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
1332,2011-04-01 09:00:00,2,0,1,1,13.12,14.395,70,23.9994,11,162,173
1333,2011-04-01 10:00:00,2,0,1,1,13.12,15.150,66,19.0012,12,63,75
1334,2011-04-01 11:00:00,2,0,1,1,13.12,14.395,61,23.9994,17,72,89
1335,2011-04-01 12:00:00,2,0,1,1,13.94,15.150,53,23.9994,15,80,95
1336,2011-04-01 13:00:00,2,0,1,1,14.76,16.665,50,23.9994,18,92,110
...,...,...,...,...,...,...,...,...,...,...,...,...
8146,2012-06-19 19:00:00,2,0,1,1,32.80,38.635,59,15.0013,82,432,514
8147,2012-06-19 20:00:00,2,0,1,1,32.80,37.880,55,16.9979,59,399,458
8148,2012-06-19 21:00:00,2,0,1,1,31.16,35.605,62,11.0014,37,239,276
8149,2012-06-19 22:00:00,2,0,1,1,29.52,34.850,79,6.0032,51,240,291
8150,2012-06-19 23:00:00,2,0,1,1,29.52,34.850,79,8.9981,23,102,125

In [ ]:
# 2) Filtering for Working Days with Temperatures between 10C and 20C
df.loc[(df['workingday']==1)&((df['temp']>=10)&(df['temp']<=20))]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
59,2011-01-03 14:00:00,1,0,1,1,10.66,12.120,30,19.0012,11,66,77
60,2011-01-03 15:00:00,1,0,1,1,10.66,12.120,30,16.9979,14,58,72
61,2011-01-03 16:00:00,1,0,1,1,10.66,12.120,30,16.9979,9,67,76
82,2011-01-04 14:00:00,1,0,1,1,10.66,12.880,52,15.0013,9,54,63
83,2011-01-04 15:00:00,1,0,1,1,11.48,13.635,52,16.9979,17,48,65
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [ ]:
# 3) Filtering for Holidays with High Humidity (> 80%)
df[(df['holiday']==1)&(df['humidity']>80)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
394,2011-01-17 22:00:00,1,1,0,3,5.74,6.060,93,16.9979,0,13,13
395,2011-01-17 23:00:00,1,1,0,3,6.56,6.820,86,19.0012,1,3,4
1662,2011-04-15 04:00:00,2,1,0,1,15.58,19.695,82,6.0032,0,3,3
1663,2011-04-15 05:00:00,2,1,0,1,14.76,18.180,81,7.0015,2,11,13
1664,2011-04-15 06:00:00,2,1,0,1,14.76,18.180,81,6.0032,5,42,47
1680,2011-04-15 22:00:00,2,1,0,2,15.58,19.695,82,26.0027,16,64,80
1681,2011-04-15 23:00:00,2,1,0,2,14.76,17.425,81,12.9980,8,56,64
2762,2011-07-04 00:00:00,3,1,0,1,26.24,28.790,83,8.9981,63,77,140
2763,2011-07-04 01:00:00,3,1,0,1,26.24,28.790,83,6.0032,43,76,119
2764,2011-07-04 02:00:00,3,1,0,1,26.24,28.790,83,0.0000,33,30,63
2767,2011-07-04 05:00:00,3,1,0,2,26.24,28.790,83,8.9981,1,3,4
2768,2011-07-04 06:00:00,3,1,0,1,26.24,28.790,89,11.0014,5,11,16
2769,2011-07-04 07:00:00,3,1,0,1,27.06,30.305,83,8.9981,17,19,36
3715,2011-09-05 17:00:00,3,1,0,2,27.06,29.545,89,7.0015,37,77,114
3716,2011-09-05 18:00:00,3,1,0,1,27.06,29.545,89,6.0032,31,92,123
3717,2011-09-05 19:00:00,3,1,0,3,27.06,29.545,94,7.0015,52,123,175
3718,2011-09-05 20:00:00,3,1,0,3,27.06,29.545,94,16.9979,26,56,82
3719,2011-09-05 21:00:00,3,1,0,2,27.06,29.545,94,19.9995,20,40,60
3720,2011-09-05 22:00:00,3,1,0,2,24.60,27.275,88,39.0007,15,49,64
3721,2011-09-05 23:00:00,3,1,0,3,22.96,26.515,88,26.0027,3,17,20
4271,2011-10-10 00:00:00,4,1,0,1,20.50,24.240,94,0.0000,11,42,53
4272,2011-10-10 01:00:00,4,1,0,1,19.68,23.485,88,0.0000,4,30,34
4273,2011-10-10 02:00:00,4,1,0,1,19.68,23.485,88,0.0000,4,15,19
4274,2011-10-10 03:00:00,4,1,0,1,18.86,22.725,88,0.0000,2,9,11
4275,2011-10-10 04:00:00,4,1,0,1,18.86,22.725,94,0.0000,2,4,6
4276,2011-10-10 05:00:00,4,1,0,1,18.86,22.725,94,0.0000,2,19,21
4277,2011-10-10 06:00:00,4,1,0,1,18.04,21.970,94,0.0000,5,39,44
4278,2011-10-10 07:00:00,4,1,0,1,18.86,22.725,88,0.0000,12,102,114
4279,2011-10-10 08:00:00,4,1,0,1,21.32,25.000,83,0.0000,27,227,254
4292,2011-10-10 21:00:00,4,1,0,1,22.96,26.515,88,6.0032,27,148,175
4293,2011-10-10 22:00:00,4,1,0,1,22.96,26.515,88,6.0032,22,104,126
4294,2011-10-10 23:00:00,4,1,0,2,22.14,25.760,88,7.0015,12,63,75
7149,2012-04-16 06:00:00,2,1,0,1,21.32,25.000,83,11.0014,10,123,133
7150,2012-04-16 07:00:00,2,1,0,1,21.32,25.000,83,8.9981,20,367,387
7151,2012-04-16 08:00:00,2,1,0,2,22.96,26.515,83,11.0014,48,549,597
8225,2012-07-04 02:00:00,3,1,0,1,27.06,30.305,83,8.9981,27,66,93
9111,2012-09-03 00:00:00,3,1,0,2,27.06,29.545,94,0.0000,42,62,104
9112,2012-09-03 01:00:00,3,1,0,2,27.88,31.820,89,11.0014,18,37,55
9113,2012-09-03 02:00:00,3,1,0,1,27.06,29.545,89,7.0015,10,30,40
9114,2012-09-03 03:00:00,3,1,0,1,27.06,29.545,89,8.9981,6,22,28
9115,2012-09-03 04:00:00,3,1,0,1,27.06,29.545,89,6.0032,6,5,11
9116,2012-09-03 05:00:00,3,1,0,1,27.06,29.545,89,0.0000,1,3,4
9117,2012-09-03 06:00:00,3,1,0,1,27.06,29.545,94,0.0000,3,12,15
9118,2012-09-03 07:00:00,3,1,0,1,27.88,31.820,85,0.0000,6,37,43
9119,2012-09-03 08:00:00,3,1,0,2,28.70,33.335,84,7.0015,36,91,127
9120,2012-09-03 09:00:00,3,1,0,2,28.70,33.335,84,8.9981,71,158,229
9133,2012-09-03 22:00:00,3,1,0,2,28.70,33.335,84,8.9981,17,104,121
9134,2012-09-03 23:00:00,3,1,0,2,28.70,33.335,84,16.9979,12,58,70
9688,2012-10-08 01:00:00,4,1,0,1,13.94,16.665,87,11.0014,2,35,37
9689,2012-10-08 02:00:00,4,1,0,1,13.94,16.665,81,12.9980,3,12,15
9690,2012-10-08 03:00:00,4,1,0,1,13.94,17.425,81,7.0015,2,8,10
9691,2012-10-08 04:00:00,4,1,0,1,13.12,16.665,87,8.9981,1,6,7
10243,2012-11-12 05:00:00,4,1,0,1,15.58,19.695,87,0.0000,1,23,24
10244,2012-11-12 06:00:00,4,1,0,1,15.58,19.695,87,7.0015,7,64,71
10245,2012-11-12 07:00:00,4,1,0,1,16.40,20.455,87,0.0000,16,248,264
10246,2012-11-12 08:00:00,4,1,0,1,17.22,21.210,82,11.0014,50,490,540
10247,2012-11-12 09:00:00,4,1,0,1,18.04,21.970,88,7.0015,60,337,397

In [ ]:
# 4) accessing all rows and columns from datetime to temp using loc
df.loc[:,'datetime':'temp']

                  datetime  season  holiday  workingday  weather   temp
0      2011-01-01 00:00:00       1        0           0        1   9.84
1      2011-01-01 01:00:00       1        0           0        1   9.02
2      2011-01-01 02:00:00       1        0           0        1   9.02
3      2011-01-01 03:00:00       1        0           0        1   9.84
4      2011-01-01 04:00:00       1        0           0        1   9.84
...                    ...     ...      ...         ...      ...    ...
10881  2012-12-19 19:00:00       4        0           1        1  15.58
10882  2012-12-19 20:00:00       4        0           1        1  14.76
10883  2012-12-19 21:00:00       4        0           1        1  13.94
10884  2012-12-19 22:00:00       4        0           1        1  13.94
10885  2012-12-19 23:00:00       4        0           1        1  13.12

[10886 rows x 6 columns]

In [ ]:
# 5) accessing first 50 rows and season only
df.loc[0:50,'season']

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
32    1
33    1
34    1
35    1
36    1
37    1
38    1
39    1
40    1
41    1
42    1
43    1
44    1
45    1
46    1
47    1
48    1
49    1
50    1
Name: season, dtype: int64

In [ ]:
# 6) Filtering for Winter Days with Temperature < 10Â°C and CasualÂ RentalsÂ <Â 10
df.loc[(df['season']==4) & (df['temp']<10) & (df['casual']<10)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
4633,2011-11-06 03:00:00,4,0,0,1,9.84,14.395,87,0.0000,5,4,9
4634,2011-11-06 04:00:00,4,0,0,1,9.84,14.395,87,0.0000,0,6,6
4635,2011-11-06 05:00:00,4,0,0,1,9.84,12.120,87,8.9981,0,5,5
4775,2011-11-12 01:00:00,4,0,0,1,9.84,12.120,60,8.9981,9,45,54
4776,2011-11-12 02:00:00,4,0,0,1,9.84,12.880,65,6.0032,7,39,46
...,...,...,...,...,...,...,...,...,...,...,...,...
10770,2012-12-15 04:00:00,4,0,0,2,9.84,12.880,87,7.0015,1,5,6
10772,2012-12-15 06:00:00,4,0,0,2,9.84,14.395,75,0.0000,0,11,11
10773,2012-12-15 07:00:00,4,0,0,2,9.84,12.880,75,6.0032,1,47,48
10866,2012-12-19 04:00:00,4,0,1,1,9.84,12.120,75,8.9981,1,6,7
10868,2012-12-19 06:00:00,4,0,1,1,9.84,12.880,75,6.0032,3,109,112

In [ ]:
# 7) Filtering for Summer Days with Humidity > 70% and WindÂ SpeedÂ <Â 10
df.loc[(df['season']==2) & (df['humidity']>70) & (df['windspeed']<10)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
1330,2011-04-01 07:00:00,2,0,1,3,9.84,12.120,93,0.0000,4,91,95
1349,2011-04-02 02:00:00,2,0,0,1,9.84,12.120,75,8.9981,1,20,21
1359,2011-04-02 12:00:00,2,0,0,3,13.12,16.665,81,8.9981,84,100,184
1360,2011-04-02 13:00:00,2,0,0,1,13.94,16.665,81,8.9981,56,81,137
1492,2011-04-08 01:00:00,2,0,1,2,13.94,16.665,76,8.9981,3,6,9
...,...,...,...,...,...,...,...,...,...,...,...,...
8134,2012-06-19 07:00:00,2,0,1,2,24.60,28.790,78,8.9981,18,462,480
8136,2012-06-19 09:00:00,2,0,1,1,26.24,30.305,73,6.0032,40,288,328
8137,2012-06-19 10:00:00,2,0,1,1,26.24,30.305,73,6.0032,44,136,180
8149,2012-06-19 22:00:00,2,0,1,1,29.52,34.850,79,6.0032,51,240,291
8150,2012-06-19 23:00:00,2,0,1,1,29.52,34.850,79,8.9981,23,102,125

In [ ]:
# 8) Filtering for Winter Days (season = 4) with Low Wind Speed (< 10)
df[(df['season'] == 4) & (df['windspeed']<10)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
4075,2011-10-01 20:00:00,4,0,0,3,14.76,18.180,87,7.0015,8,58,66
4076,2011-10-01 21:00:00,4,0,0,3,14.76,18.180,87,7.0015,3,53,56
4101,2011-10-02 22:00:00,4,0,0,3,14.76,18.180,81,6.0032,9,55,64
4102,2011-10-02 23:00:00,4,0,0,1,14.76,18.180,81,6.0032,6,19,25
4103,2011-10-03 00:00:00,4,0,1,1,13.94,17.425,87,7.0015,3,13,16
...,...,...,...,...,...,...,...,...,...,...,...,...
10870,2012-12-19 08:00:00,4,0,1,1,9.84,12.880,87,7.0015,13,665,678
10871,2012-12-19 09:00:00,4,0,1,1,11.48,14.395,75,7.0015,8,309,317
10872,2012-12-19 10:00:00,4,0,1,1,13.12,16.665,70,7.0015,17,147,164
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [ ]:
# 9) Filtering for Non-Working Days (workingday = 0) with Casual Rentals > 100
df.loc[(df['workingday'] == 0) & (df['casual']>100)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
867,2011-02-19 14:00:00,1,0,0,1,18.86,22.725,15,43.9989,102,94,196
1173,2011-03-13 14:00:00,1,0,0,1,18.86,22.725,41,19.9995,144,106,250
1174,2011-03-13 15:00:00,1,0,0,1,19.68,23.485,39,22.0028,149,155,304
1175,2011-03-13 16:00:00,1,0,0,1,18.86,22.725,41,26.0027,124,132,256
1311,2011-03-19 12:00:00,1,0,0,1,18.86,22.725,33,27.9993,126,141,267
...,...,...,...,...,...,...,...,...,...,...,...,...
10610,2012-12-08 12:00:00,4,0,0,2,16.40,20.455,87,15.0013,122,364,486
10611,2012-12-08 13:00:00,4,0,0,2,16.40,20.455,87,11.0014,148,399,547
10612,2012-12-08 14:00:00,4,0,0,2,16.40,20.455,87,19.0012,164,378,542
10613,2012-12-08 15:00:00,4,0,0,1,17.22,21.210,82,11.0014,167,374,541
10614,2012-12-08 16:00:00,4,0,0,1,17.22,21.210,82,11.0014,139,368,507

In [ ]:
# 10) Filtering for Registered Rentals between 200 and 300 on Spring Days (season = 1)
df[(df['season'] == 1) & (df['registered'] >= 200) & (df['registered']<=300)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
85,2011-01-04 17:00:00,1,0,1,1,11.48,13.635,48,15.0013,10,202,212
122,2011-01-06 08:00:00,1,0,1,1,6.56,11.365,59,0.0000,3,216,219
239,2011-01-11 08:00:00,1,0,1,2,7.38,10.605,51,6.0032,3,214,217
508,2011-02-04 08:00:00,1,0,1,1,5.74,7.575,74,8.9981,3,217,220
580,2011-02-07 08:00:00,1,0,1,2,6.56,11.365,100,0.0000,7,223,230
...,...,...,...,...,...,...,...,...,...,...,...,...
6756,2012-03-18 19:00:00,1,0,0,1,22.96,26.515,64,11.0014,118,234,352
6770,2012-03-19 09:00:00,1,0,1,1,20.50,24.240,72,11.0014,55,276,331
6773,2012-03-19 12:00:00,1,0,1,1,24.60,30.305,64,16.9979,71,211,282
6775,2012-03-19 14:00:00,1,0,1,2,26.24,31.060,57,12.9980,60,200,260
6781,2012-03-19 20:00:00,1,0,1,1,24.60,30.305,64,15.0013,34,296,330

In [ ]:
# 11) Filtering for Clear Weather (weather = 1) and Temperature > 25Â°C
df.loc[(df['weather'] == 1) & (df['temp']>25)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
843,2011-02-18 14:00:00,1,0,1,1,27.06,31.060,36,19.9995,73,118,191
844,2011-02-18 15:00:00,1,0,1,1,27.06,31.060,36,22.0028,55,117,172
845,2011-02-18 16:00:00,1,0,1,1,27.06,31.060,36,19.0012,68,164,232
846,2011-02-18 17:00:00,1,0,1,1,27.06,31.060,34,23.9994,52,275,327
847,2011-02-18 18:00:00,1,0,1,1,26.24,31.060,33,22.0028,29,195,224
...,...,...,...,...,...,...,...,...,...,...,...,...
9940,2012-10-18 13:00:00,4,0,1,1,25.42,31.060,53,23.9994,96,236,332
9963,2012-10-19 12:00:00,4,0,1,1,26.24,30.305,69,15.0013,74,258,332
9964,2012-10-19 13:00:00,4,0,1,1,25.42,29.545,73,15.0013,87,288,375
9965,2012-10-19 14:00:00,4,0,1,1,27.06,31.060,61,16.9979,88,277,365
9966,2012-10-19 15:00:00,4,0,1,1,26.24,30.305,65,19.9995,93,302,395

In [ ]:
# 12) Filtering for Light Rain or Snow (weather = 3) on Holidays
df.loc[(df['weather'] == 3) & (df['holiday']==1)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
391,2011-01-17 19:00:00,1,1,0,3,7.38,9.090,59,12.9980,2,58,60
392,2011-01-17 20:00:00,1,1,0,3,6.56,7.575,80,12.9980,4,29,33
393,2011-01-17 21:00:00,1,1,0,3,6.56,7.575,80,12.9980,3,24,27
394,2011-01-17 22:00:00,1,1,0,3,5.74,6.060,93,16.9979,0,13,13
395,2011-01-17 23:00:00,1,1,0,3,6.56,6.820,86,19.0012,1,3,4
3707,2011-09-05 09:00:00,3,1,0,3,27.88,31.820,74,11.0014,63,89,152
3717,2011-09-05 19:00:00,3,1,0,3,27.06,29.545,94,7.0015,52,123,175
3718,2011-09-05 20:00:00,3,1,0,3,27.06,29.545,94,16.9979,26,56,82
3721,2011-09-05 23:00:00,3,1,0,3,22.96,26.515,88,26.0027,3,17,20
5803,2012-01-16 23:00:00,1,1,0,3,10.66,11.365,70,19.9995,0,28,28
9702,2012-10-08 15:00:00,4,1,0,3,17.22,21.210,58,12.9980,76,294,370
9703,2012-10-08 16:00:00,4,1,0,3,17.22,21.210,58,12.9980,61,316,377
9707,2012-10-08 20:00:00,4,1,0,3,16.40,20.455,71,15.0013,20,207,227
9709,2012-10-08 22:00:00,4,1,0,3,16.40,20.455,76,16.9979,6,101,107
10259,2012-11-12 21:00:00,4,1,0,3,22.14,25.760,73,15.0013,10,145,155

In [ ]:
# 13) Filtering for Working Days with Rentals Count > 500 and Humidity < 70%
df.loc[(df['workingday'] == 1) & (df['count']>500) &(df['humidity']<70)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
1819,2011-05-02 17:00:00,2,0,1,1,27.06,31.060,65,12.9980,65,472,537
1820,2011-05-02 18:00:00,2,0,1,2,26.24,30.305,65,12.9980,68,450,518
1843,2011-05-03 17:00:00,2,0,1,1,28.70,32.575,54,31.0009,53,464,517
1844,2011-05-03 18:00:00,2,0,1,1,28.70,32.575,48,27.9993,59,485,544
1891,2011-05-05 17:00:00,2,0,1,1,22.96,26.515,26,26.0027,66,467,533
...,...,...,...,...,...,...,...,...,...,...,...,...
10759,2012-12-14 17:00:00,4,0,1,1,13.94,16.665,57,11.0014,40,582,622
10855,2012-12-18 17:00:00,4,0,1,1,16.40,20.455,47,30.0026,39,533,572
10856,2012-12-18 18:00:00,4,0,1,1,15.58,19.695,46,22.0028,13,512,525
10879,2012-12-19 17:00:00,4,0,1,1,16.40,20.455,50,26.0027,26,536,562
10880,2012-12-19 18:00:00,4,0,1,1,15.58,19.695,50,23.9994,23,546,569

In [ ]:
# 14) Filtering for Summer Days with Light Wind (windspeed < 5) and High Rentals (> 700)
df.loc[(df['season'] == 2) & (df['windspeed'] < 5) & (df['count']>700)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
7808,2012-06-05 17:00:00,2,0,1,1,24.6,31.06,43,0.0,86,764,850

In [ ]:
# 15) Filtering for Winter Days with Casual Rentals < 50 and Humidity > 85%
df.loc[(df['season'] == 4) & (df['casual'] < 50) & (df['humidity'] > 85)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
4073,2011-10-01 18:00:00,4,0,0,3,15.58,19.695,87,15.0013,23,117,140
4075,2011-10-01 20:00:00,4,0,0,3,14.76,18.180,87,7.0015,8,58,66
4076,2011-10-01 21:00:00,4,0,0,3,14.76,18.180,87,7.0015,3,53,56
4077,2011-10-01 22:00:00,4,0,0,2,14.76,17.425,93,15.0013,12,58,70
4078,2011-10-01 23:00:00,4,0,0,3,14.76,17.425,93,15.0013,8,57,65
...,...,...,...,...,...,...,...,...,...,...,...,...
10844,2012-12-18 06:00:00,4,0,1,1,14.76,17.425,93,11.0014,1,117,118
10845,2012-12-18 07:00:00,4,0,1,1,14.76,17.425,93,8.9981,4,351,355
10846,2012-12-18 08:00:00,4,0,1,1,15.58,19.695,94,0.0000,10,652,662
10847,2012-12-18 09:00:00,4,0,1,1,16.40,20.455,87,6.0032,19,307,326
10870,2012-12-19 08:00:00,4,0,1,1,9.84,12.880,87,7.0015,13,665,678

In [ ]:
# 16) Filtering for Working Days with Temperatures < 10Â°C and Registered Rentals > 300
df.loc[(df['workingday'] == 1) & (df['temp'] < 10) & (df['registered']>300)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
4926,2011-11-18 08:00:00,4,0,1,1,9.02,11.365,44,12.9980,6,369,375
4998,2011-12-02 08:00:00,4,0,1,1,9.84,14.395,87,0.0000,13,432,445
5142,2011-12-08 08:00:00,4,0,1,1,9.02,10.605,55,19.0012,11,418,429
5166,2011-12-09 08:00:00,4,0,1,1,9.84,14.395,81,0.0000,7,378,385
5238,2011-12-12 08:00:00,4,0,1,2,6.56,9.090,80,7.0015,7,378,385
5262,2011-12-13 08:00:00,4,0,1,1,8.20,11.365,69,7.0015,9,391,400
5406,2011-12-19 08:00:00,4,0,1,1,8.20,9.850,75,12.9980,8,389,397
5477,2012-01-03 08:00:00,1,0,1,1,6.56,6.820,55,19.0012,5,349,354
5501,2012-01-04 08:00:00,1,0,1,1,0.82,3.030,44,8.9981,5,310,315
5525,2012-01-05 08:00:00,1,0,1,2,8.20,12.880,75,0.0000,11,377,388
5549,2012-01-06 08:00:00,1,0,1,1,9.84,12.120,70,8.9981,11,436,447
5621,2012-01-09 08:00:00,1,0,1,2,9.02,12.880,55,6.0032,13,407,420
5644,2012-01-10 08:00:00,1,0,1,2,7.38,9.850,93,11.0014,6,465,471
5668,2012-01-11 08:00:00,1,0,1,1,8.20,11.365,82,7.0015,11,488,499
5716,2012-01-13 08:00:00,1,0,1,1,9.84,10.605,52,23.9994,11,408,419
5845,2012-01-18 18:00:00,1,0,1,1,9.84,10.605,32,23.9994,8,347,355
5859,2012-01-19 08:00:00,1,0,1,1,4.92,7.575,54,7.0015,9,414,423
5931,2012-02-03 08:00:00,1,0,1,1,9.84,11.365,65,15.0013,12,429,441
6002,2012-02-06 08:00:00,1,0,1,1,6.56,9.090,86,8.9981,10,434,444
6050,2012-02-08 08:00:00,1,0,1,2,9.84,11.365,70,15.0013,13,495,508
6074,2012-02-09 08:00:00,1,0,1,1,8.20,9.850,64,16.9979,11,473,484
6098,2012-02-10 08:00:00,1,0,1,1,8.20,10.605,59,11.0014,1,447,448
6170,2012-02-13 08:00:00,1,0,1,1,4.10,6.060,54,8.9981,4,413,417
6194,2012-02-14 08:00:00,1,0,1,2,9.84,14.395,70,0.0000,3,510,513
6434,2012-03-05 08:00:00,1,0,1,1,8.20,11.365,59,7.0015,13,415,428
6458,2012-03-06 08:00:00,1,0,1,1,6.56,9.090,59,7.0015,14,487,501
10102,2012-11-06 07:00:00,4,0,1,1,8.20,10.605,69,11.0014,9,378,387
10103,2012-11-06 08:00:00,4,0,1,1,9.02,11.365,69,11.0014,20,568,588
10293,2012-11-14 07:00:00,4,0,1,1,9.84,10.605,65,19.0012,10,405,415
10557,2012-12-06 07:00:00,4,0,1,1,9.02,10.605,51,19.9995,8,381,389
10558,2012-12-06 08:00:00,4,0,1,1,9.02,10.605,51,19.9995,13,646,659
10725,2012-12-13 07:00:00,4,0,1,1,9.84,11.365,60,15.0013,5,380,385
10726,2012-12-13 08:00:00,4,0,1,1,9.84,11.365,60,12.9980,24,655,679
10749,2012-12-14 07:00:00,4,0,1,1,8.20,10.605,72,7.0015,3,305,308
10750,2012-12-14 08:00:00,4,0,1,1,8.20,11.365,69,6.0032,13,623,636
10751,2012-12-14 09:00:00,4,0,1,1,9.84,12.120,75,8.9981,13,330,343
10870,2012-12-19 08:00:00,4,0,1,1,9.84,12.880,87,7.0015,13,665,678

In [ ]:
# 17) Filtering for Fall Days (season = 3) with Light Rain or Snow (weather = 3)
df.loc[(df['season'] == 3) & (df['weather']==3)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
2741,2011-07-03 03:00:00,3,0,0,3,27.88,31.820,65,6.0032,8,25,33
2742,2011-07-03 04:00:00,3,0,0,3,27.88,31.820,65,6.0032,3,2,5
2743,2011-07-03 05:00:00,3,0,0,3,25.42,28.790,83,12.9980,0,1,1
2755,2011-07-03 17:00:00,3,0,0,3,32.80,37.120,49,56.9969,181,177,358
2756,2011-07-03 18:00:00,3,0,0,3,32.80,37.120,49,56.9969,74,107,181
...,...,...,...,...,...,...,...,...,...,...,...,...
9485,2012-09-18 14:00:00,3,0,1,3,24.60,25.760,94,31.0009,27,116,143
9486,2012-09-18 15:00:00,3,0,1,3,24.60,27.275,88,16.9979,1,35,36
9487,2012-09-18 16:00:00,3,0,1,3,24.60,27.275,88,19.9995,19,122,141
9488,2012-09-18 17:00:00,3,0,1,3,24.60,27.275,88,12.9980,36,302,338
9493,2012-09-18 22:00:00,3,0,1,3,23.78,27.275,83,31.0009,14,137,151

In [ ]:
# 18) Filtering for Non-Working Days with Registered Rentals between 100 and 200
df.loc[(df['workingday'] == 0) & (df['registered'] >= 100) & (df['registered']<=200)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
339,2011-01-15 15:00:00,1,0,0,2,13.12,15.910,36,12.9980,21,108,129
560,2011-02-06 12:00:00,1,0,0,1,13.94,16.665,46,0.0000,48,126,174
561,2011-02-06 13:00:00,1,0,0,1,13.94,18.180,46,0.0000,47,135,182
562,2011-02-06 14:00:00,1,0,0,1,13.94,17.425,46,6.0032,47,114,161
563,2011-02-06 15:00:00,1,0,0,1,13.94,17.425,46,6.0032,52,130,182
...,...,...,...,...,...,...,...,...,...,...,...,...
10788,2012-12-15 22:00:00,4,0,0,1,14.76,17.425,62,12.9980,22,134,156
10789,2012-12-15 23:00:00,4,0,0,2,14.76,17.425,62,8.9981,11,108,119
10790,2012-12-16 00:00:00,4,0,0,2,14.76,18.940,62,0.0000,8,102,110
10799,2012-12-16 09:00:00,4,0,0,2,14.76,17.425,87,8.9981,19,113,132
10810,2012-12-16 20:00:00,4,0,0,2,15.58,19.695,82,0.0000,14,108,122

In [ ]:
# 19) Filtering for Misty or Cloudy Weather (weather = 2) with Wind Speed > 15
df.loc[(df['weather'] == 2) & (df['windspeed']>15)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
13,2011-01-01 13:00:00,1,0,0,2,18.86,22.725,72,19.9995,47,47,94
14,2011-01-01 14:00:00,1,0,0,2,18.86,22.725,72,19.0012,35,71,106
15,2011-01-01 15:00:00,1,0,0,2,18.04,21.970,77,19.9995,40,70,110
16,2011-01-01 16:00:00,1,0,0,2,17.22,21.210,82,19.9995,41,52,93
17,2011-01-01 17:00:00,1,0,0,2,18.04,21.970,82,19.0012,15,52,67
...,...,...,...,...,...,...,...,...,...,...,...,...
10720,2012-12-13 02:00:00,4,0,1,2,10.66,12.120,56,16.9979,3,5,8
10721,2012-12-13 03:00:00,4,0,1,2,10.66,12.120,56,19.0012,0,2,2
10831,2012-12-17 17:00:00,4,0,1,2,16.40,20.455,94,16.9979,17,478,495
10834,2012-12-17 20:00:00,4,0,1,2,17.22,21.210,94,16.9979,8,192,200
10840,2012-12-18 02:00:00,4,0,1,2,18.04,21.970,88,15.0013,2,5,7

In [ ]:
# 20) Filtering for Spring Days (season = 1) with Registered Rentals > 400 and Humidity < 60%
df.loc[(df['season'] == 1) & (df['registered'] > 400) & (df['humidity']<60)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
5558,2012-01-06 17:00:00,1,0,1,1,18.86,22.725,36,15.0013,20,456,476
5621,2012-01-09 08:00:00,1,0,1,2,9.02,12.880,55,6.0032,13,407,420
5653,2012-01-10 17:00:00,1,0,1,1,17.22,21.210,38,16.9979,14,446,460
5716,2012-01-13 08:00:00,1,0,1,1,9.84,10.605,52,23.9994,11,408,419
5835,2012-01-18 08:00:00,1,0,1,1,12.30,13.635,52,27.9993,15,474,489
5859,2012-01-19 08:00:00,1,0,1,1,4.92,7.575,54,7.0015,9,414,423
5892,2012-02-01 17:00:00,1,0,1,1,23.78,27.275,43,12.9980,31,508,539
5893,2012-02-01 18:00:00,1,0,1,1,22.96,26.515,46,11.0014,12,514,526
5916,2012-02-02 17:00:00,1,0,1,1,17.22,21.210,54,32.9975,13,437,450
5940,2012-02-03 17:00:00,1,0,1,1,16.40,20.455,37,6.0032,30,458,488
6011,2012-02-06 17:00:00,1,0,1,1,16.40,20.455,43,16.9979,13,417,430
6012,2012-02-06 18:00:00,1,0,1,1,15.58,19.695,43,15.0013,11,426,437
6026,2012-02-07 08:00:00,1,0,1,1,12.30,15.910,49,0.0000,7,522,529
6035,2012-02-07 17:00:00,1,0,1,1,18.04,21.970,35,12.9980,15,494,509
6036,2012-02-07 18:00:00,1,0,1,1,17.22,21.210,38,12.9980,10,508,518
6084,2012-02-09 18:00:00,1,0,1,1,13.94,16.665,31,11.0014,13,404,417
6098,2012-02-10 08:00:00,1,0,1,1,8.20,10.605,59,11.0014,1,447,448
6170,2012-02-13 08:00:00,1,0,1,1,4.10,6.060,54,8.9981,4,413,417
6203,2012-02-14 17:00:00,1,0,1,1,17.22,21.210,38,23.9994,19,504,523
6227,2012-02-15 17:00:00,1,0,1,1,17.22,21.210,38,12.9980,17,470,487
6228,2012-02-15 18:00:00,1,0,1,1,16.40,20.455,40,15.0013,9,459,468
6275,2012-02-17 17:00:00,1,0,1,1,17.22,21.210,32,22.0028,36,429,465
6347,2012-03-01 17:00:00,1,0,1,1,22.96,26.515,35,19.9995,49,551,600
6348,2012-03-01 18:00:00,1,0,1,1,22.14,25.760,34,23.9994,27,498,525
6434,2012-03-05 08:00:00,1,0,1,1,8.20,11.365,59,7.0015,13,415,428
6458,2012-03-06 08:00:00,1,0,1,1,6.56,9.090,59,7.0015,14,487,501
6467,2012-03-06 17:00:00,1,0,1,1,14.76,16.665,34,19.0012,21,425,446
6468,2012-03-06 18:00:00,1,0,1,1,13.94,15.150,42,22.0028,15,442,457
6491,2012-03-07 17:00:00,1,0,1,1,22.96,26.515,43,32.9975,58,554,612
6492,2012-03-07 18:00:00,1,0,1,1,22.96,26.515,40,31.0009,35,509,544
6515,2012-03-08 17:00:00,1,0,1,1,25.42,31.060,38,43.9989,52,545,597
6516,2012-03-08 18:00:00,1,0,1,2,25.42,31.060,38,36.9974,45,545,590
6530,2012-03-09 08:00:00,1,0,1,2,13.94,14.395,42,35.0008,17,484,501
6539,2012-03-09 17:00:00,1,0,1,1,18.86,22.725,24,26.0027,68,498,566
6540,2012-03-09 18:00:00,1,0,1,1,18.04,21.970,26,35.0008,30,440,470
6610,2012-03-12 17:00:00,1,0,1,2,25.42,31.060,38,27.9993,87,557,644
6611,2012-03-12 18:00:00,1,0,1,2,24.60,31.060,43,12.9980,89,623,712
6634,2012-03-13 17:00:00,1,0,1,1,28.70,31.820,37,7.0015,62,614,676
6635,2012-03-13 18:00:00,1,0,1,1,28.70,31.820,34,19.9995,96,638,734
6636,2012-03-13 19:00:00,1,0,1,1,26.24,31.060,47,15.0013,50,429,479
6658,2012-03-14 17:00:00,1,0,1,1,28.70,31.820,28,6.0032,140,642,782
6659,2012-03-14 18:00:00,1,0,1,1,28.70,31.820,32,0.0000,102,647,749
6660,2012-03-14 19:00:00,1,0,1,1,26.24,31.060,33,11.0014,70,402,472
6682,2012-03-15 17:00:00,1,0,1,1,28.70,31.820,39,16.9979,79,634,713
6683,2012-03-15 18:00:00,1,0,1,1,27.06,31.060,44,19.0012,98,648,746
6778,2012-03-19 17:00:00,1,0,1,1,26.24,31.060,53,15.0013,106,615,721
6779,2012-03-19 18:00:00,1,0,1,1,26.24,31.060,57,16.9979,120,681,801